.class__top {
  display: flex;
  gap: 520px;
}
.main__block--left {
  display: flex;
  gap: 30px;
}
.block__circle--left {
  background: #000000;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 0px 0px 0px 80px;
}
.main__block--right {
  padding: 20px;
}
.block__rectangle--left {
  width: 100px;
  height: 40px;
  background: #000000;
  margin: 20px 0px 0px 0px;
}
.block__rectangle--right {
  width: 120px;
  height: 60px;
  background: #000000;
  padding: 0px 0px 0px 0px;
}
.block__rectangle {
  width: 120px;
  height: 60px;
  background: #a32020;
  margin: -60px 5px 0px 135px;
}
.block__rectangle--next {
  width: 120px;
  height: 60px;
  background: #52499d;
  margin: -60px 5px 0px 270px;
}
.block__rectangle--last {
  width: 120px;
  height: 60px;
  background: #bd77b5;
  margin: -60px 5px 0px 405px;
}
.block__base {
  display: flex;
  gap: 50px;
}
.block__text {
  text-align: left;
  margin: 20px 150px 0px 80px;
  font-size: 20px;
}
h1 {
  color: rgb(105, 102, 102);
}
p {
  margin: -20px 0px 0px 0px;
  color: gray;
}
.block__circle {
  background: #bd5858;
  border-radius: 50%;
  min-height: 300px;
  min-width: 300px;
  margin: 0px 270px 0px 0px;
}
.big__block {
  display: flex;
  column-gap: 20px;
  padding: 100px 0px 0px 0px;
}
.main__rectangle--left {
  width: 250px;
  height: 120px;
  background: #d11313;
  display: flex;
  column-gap: 10px;
  margin: 0px 0px 0px 100px;
}
.main__rectangle--centr {
  width: 250px;
  height: 120px;
  background: #703d3d;
  display: flex;
  column-gap: 20px;
  margin: 170px 0px 0px -270px;
}
.main__rectangle--top {
  width: 250px;
  height: 120px;
  background: #db7a7aac;
  display: flex;
  column-gap: 20px;
  margin: 340px 0px 0px -270px;
}
.main__text {
  display: flex;
  margin: -490px 800px 0px 400px;
}
.text__center {
  display: flex;
  margin: -490px 750px 0px 450px;
  column-gap: 20px;
  flex-direction: column;
}
.text__center--one {
  display: flex;
  margin: 10px 750px 0px 450px;
  column-gap: 20px;
  flex-direction: column;
}
.text__center--thoo {
  display: flex;
  margin: 10px 750px 0px 450px;
  column-gap: 20px;
  flex-direction: column;
}

.app {
  display: flex;
  gap: 100px;
}
.main__block--left {
  width: 600px;
  margin: -100px 0px 0px 100px;
  display: flex;
  flex-direction: column;
}
.someClass {
  display: flex;
  column-gap: 20px;
  margin: 15px;
  align-items: justify;
  align-items: center;
}
.blackBox {
  min-width: 100px;
  height: 100px;
  background-color: black;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: column;
}
.main__blockk--right {
  margin: -350px 0px 0px 750px;
}
.someClass {
  display: flex;
  column-gap: 20px;
  margin: 15px;
  align-items: justify;
  align-items: center;
}
.title__right {
  display: flex;
  flex-direction: column;
}
